
body {
background-color: white;
  color: #222222;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
h1 {
color: #003366;
text-align: center;
}
p {
font-size: 20px;
color: black;
}

button {
    backround-color: #005fcc;
    color: white;
    padding: 10px;
}

select {
  background-color: white;
  color: black;
}
